


{%load static%}
 

<head>
 
  <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
<script type="text/javascript" src="{%static 'jsb/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{%static 'js/proper.js' %}"></script>
<script type="text/javascript" src="{%static 'js/jq.js' %}"></script>
<script type="text/javascript" src="{%static 'js/jqn.js' %}"></script>
<style>
  
#myProgress1 {
  position: relative;
  width: 100%;
  height: 30px;
  background-color: #ddd;
  
}

#myBar1 {
  /*position: absolute;*/
  width: 10%;
  height: 100%;
  background-color: red;
  
  }
    body{
       
        background: -webkit-linear-gradient(top left,black,darkgray);
        background: -linear-gradient(top left,black,darkgray);
        background: -o-linear-gradient(top left,black,darkgray);
       
     
       
    }
    .jumbotron1{
       
          border: 3px solid white;
          background: white;
          border-radius:20px;
          
  
    }.jumbotron{
        border: 3px solid white;
        border-radius:20px;
        background: -webkit-linear-gradient(top left,black,darkgray);
        background: -linear-gradient(top left,black,darkgray);
        background: -o-linear-gradient(top left,black,darkgray);
     
        margin:10px;
    }
    #videoCam {
        width: 400px;
        height: 400px;
        margin-left: 0px;
        border: 3px solid #ccc;
        background: black;
        border-radius:20px;
     }
     #myProgress {
      position: relative;
      width: 120px;
      height: 30px;
      background-color: white;
    }
    
    #myBar {
      position: absolute;
      width: 0%;
      height: 100%;
      background-color: #48d1cc;
    }
    
    #label {
      text-align: center;
      line-height: 30px;
      
    }
    .container {
      padding: 16px;
      border-radius: 20px;
    }
    
    
    
    
    .modal {
       display: none;
       position: fixed;
       z-index: 1;
       left: 0;
       top: 0;
       width: 100%;
       height: 100%;
       overflow: auto;
       background-color: rgb(0,0,0);
       background-color: rgba(0,0,0,0.4);
       padding-top: 60px;
       border-radius: 20px;
    }
    
    .modal-content {
      background-color: #fefefe;
      margin: 5% auto 15% auto;
      border: 1px solid #888;
      width: 80%;
    border-radius: 20px;
    padding: 20px;
    }
    
    
    .animate {
     -webkit-animation: animatezoom 1s;
     animation: animatezoom 1s
    }
    
    @-webkit-keyframes animatezoom {
     from {-webkit-transform: scale(0)}
     to {-webkit-transform: scale(1)}
    }
    
    @keyframes animatezoom {
        from {transform: scale(0)}
        to {transform: scale(1)}
    }
    
    #myProgress1 {
      position: relative;
      width: 100%;
      height: 30px;
      background-color: #ddd;
    }
    
    #myBar1 {
      position: absolute;
      width: 5%;
      height: 100%;
      background-color: #48d1cc;
    }#anme{
animation-name: anme;
animation-duration: 0.7s;
animation-iteration-count: infinite;

    }
    @keyframes anme {
      from{
        transform: rotate(0deg);
      }to{
        transform: rotate(360deg);
      }
    }
</style>
</head>

 
<body onbeforeunload="return dontLeave()">
  <div class="jumbotron " >
<div class="row">
  <div class="col-2">
    {%if lv.perm == "0" and perm.perm == "1"   %}
    <span class="text-white">security camera</span><br>
    <center>
          <img src="{%url 'student:cheating' %}" style="width:100px;height:150px;border:3px solid cyan"  id="videoCam">
          <h4 class="text-warning">software detect your status</h4>
          <div  class="table table-responsive bg-white" style="max-height:200px;min-height:200px;width:150px">
            <h4 class="text-danger "  id="tyme"></h4>
            
              
                <h4 class=" "  id="mat"></h4>
                <h4 class=""  id="mot"></h4>
                <h4 class=""  id="what"></h4>

          </div></center>
          {%elif lv.perm == "2" and perm.perm == "1"   %}
          <span class="text-white">security camera</span><br>
                <img src="{%url 'student:livestraminga' %}" style="width:100px;height:150px;border:3px solid cyan" id="videoCam">
                <h4 class="text-warning">software detect your status</h4>
                <div  class="table table-responsive bg-white" style="max-height:200px;min-height:200px;width:150px">
                  <h4 class="text-danger "  id="tyme"></h4>
                  
                    
                      <h4 class=" "  id="mat"></h4>
                      <h4 class=""  id="mot"></h4>
                      <h4 class=""  id="what"></h4>
  
                </div>
          {%endif%}
          <span class="text-warning"  id="cheat"></span><br>
             
        <center> 
          <span class="text-warning"  id="material"><br>
          <span class="text-white" style="" id="cheat"></span>

        </center> 
  </div>
  <div class="col-9">
    <div id="exam" style="display:none;border:10px solid black" class="container-sm">
      <form class="form" autocomplete="off" onsubmit="return saveAns()" action="/student/calculate-marks" method="POST" style="font-size:20px">
        {% csrf_token %}
       <center><span style="width: 100%;" class=" text-info">Course: {{course.course_name}}</span></center> 
        <div class="jumbotron1 table table-responsive " style="min-height:60%;max-height:470px;border:10px inset black;overflow-x: auto;max-width: 100%;background-color: #f7f5f5;">
          <div class="card" style="background-color: hsl(0, 5%, 96%);">
            <div class="card-body">
          {% for q in questions%}
       
        <div class="d-flex w-100 align-items-center" >
          {%if q.typ == 0 %}
            <div class="col-auto flex-shrink-1 ">
                <h3 class="">{{ forloop.counter }}. {{q.question}}&nbsp;&nbsp;({{q.marks}} Marks)</h3>
            </div>
           
           
        </div>
        {%if q.para%}
        <center>
        <div class="container-sm" style="width: 90%;">
<span class="btn bg-info" style="width: 100%;">Reading Paragraph</span>
<div class="" style="">
  <p>{{q.para}}</p>
</div>

</div>

</center>
{%endif%}
        <center>
          {%if q.tabl %}

<span style="width:100%" class="btn btn-info">{{q.tabl.name}}</span>

<div style="overflow-y: auto;max-height: 200px;width: 90%;overflow-x: auto;max-width: 90%;" >


<table class="table table-striped">
<tr>
{%for t in q.tabl.data1%}


 <th>{{t}}</th>


{%endfor%}
</tr>
<tr>
{%for t in q.tabl.data2%}


 <td>{{t}}</td>


{%endfor%}
</tr>
<tr>
{%for t in q.tabl.data3%}


 <td>{{t}}</td>


{%endfor%}
</tr>
<tr>
{%for t in q.tabl.data4%}


 <td>{{t}}</td>


{%endfor%}
</tr>
<tr>
{%for t in q.tabl.data5%}


 <td>{{t}}</td>


{%endfor%}
</tr>
<tr>
{%for t in q.tabl.data6%}


 <td>{{t}}</td>


{%endfor%}
</tr>
<tr>
{%for t in q.tabl.data7%}


 <td>{{t}}</td>


{%endfor%}
</tr>
<tr>
{%for t in q.tabl.data8%}


 <td>{{t}}</td>


{%endfor%}
</tr>
<tr>
{%for t in q.tabl.data9%}


 <td>{{t}}</td>


{%endfor%}
</tr>
<tr>
{%for t in q.tabl.data10%}


 <td>{{t}}</td>


{%endfor%}
</tr>
<tr>
{%for t in q.tabl.data11%}


 <td>{{t}}</td>


{%endfor%}
</tr>
<tr>
{%for t in q.tabl.data12%}


 <td>{{t}}</td>


{%endfor%}
</tr>
<tr>
{%for t in q.tabl.data13%}


 <td>{{t}}</td>


{%endfor%}
</tr>

</table>
{%endif%}
</div></center>
        {% if q.image != "2" %}
        
         
          <div class="d-flex w-100 align-items-center">
          <image src="{{q.image.url }}" style="width:90%;height:400px;margin-left:2px"/>
        </div>

          {%endif%}
       
        <input type="hidden" name="csrfmiddlewaretoken" style="display:none" value="C24rUotmdHawVQJL3KrqiWxvti8UffOFYUc8TRbZtLt36AVLdP3jbkzUVe3beRAa">

       <div id="cover" name="cover" class="cover" name="{{ forloop.counter }}">
        <div style="margin-left: 20px;">
        <div class="form-check mx-4 d-flex align-items-center">
            <input class="form-check-input" style="border: 3px solid black;" type="radio" name="{{ forloop.counter }}" id="A" value="A">
            <label class="form-check-label ml-3" for="option1">
              &nbsp;&nbsp;A &nbsp;&nbsp;{{q.option1}}
            </label>
        </div>


        <div class="form-check mx-4 d-flex align-items-center">
            <input class="form-check-input" style="border: 3px solid black;" type="radio" name="{{ forloop.counter }}" id="B" value="B">
            <label class="form-check-label ml-3" for="option2">
              &nbsp;&nbsp;B&nbsp;&nbsp;{{q.option2}}
            </label>
        </div>


        <div class="form-check mx-4 d-flex align-items-center">
            <input class="form-check-input" style="border: 3px solid black;" type="radio" name="{{ forloop.counter }}" id="C" value="C">
            <label class="form-check-label ml-3" for="option3">
              &nbsp;&nbsp;C&nbsp;&nbsp;{{q.option3}}
            </label>
        </div>


        <div class="form-check mx-4 d-flex align-items-center">
            <input class="form-check-input" style="border: 3px solid black;" type="radio" name="{{ forloop.counter }}" id="D" value="D">
            <label class="form-check-label ml-3" for="option4">
              &nbsp;&nbsp;D&nbsp;&nbsp;{{q.option4}}
            </label>
        </div>
      </div>
      {%elif q.typ == 1 %}
      <div class=" ">
        <center><span  class="btn bg-info" style="width: 600px;">Paragraph writing question </span></center>
        <h3 class="">{{ forloop.counter }}. {{q.question}}&nbsp;&nbsp;({{q.marks}} Marks)</h3>
    </div>
   
   
</div>
{%if q.para%}
<center>
<div class="container-sm" style="width: 90%;">
<span class="btn bg-info" style="width: 100%;">Reading Paragraph</span>
<div class="" style="">
<p>{{q.para}}</p>
</div>

</div>

</center>
{%endif%}
<center>
  {%if q.tabl %}

<span style="width:100%" class="btn btn-info">{{q.tabl.name}}</span>

<div style="overflow-y: auto;max-height: 200px;width: 90%;overflow-x: auto;max-width: 90%;" >


<table class="table table-striped">
<tr>
{%for t in q.tabl.data1%}


<th>{{t}}</th>


{%endfor%}
</tr>
<tr>
{%for t in q.tabl.data2%}


<td>{{t}}</td>


{%endfor%}
</tr>
<tr>
{%for t in q.tabl.data3%}


<td>{{t}}</td>


{%endfor%}
</tr>
<tr>
{%for t in q.tabl.data4%}


<td>{{t}}</td>


{%endfor%}
</tr>
<tr>
{%for t in q.tabl.data5%}


<td>{{t}}</td>


{%endfor%}
</tr>
<tr>
{%for t in q.tabl.data6%}


<td>{{t}}</td>


{%endfor%}
</tr>
<tr>
{%for t in q.tabl.data7%}


<td>{{t}}</td>


{%endfor%}
</tr>
<tr>
{%for t in q.tabl.data8%}


<td>{{t}}</td>


{%endfor%}
</tr>
<tr>
{%for t in q.tabl.data9%}


<td>{{t}}</td>


{%endfor%}
</tr>
<tr>
{%for t in q.tabl.data10%}


<td>{{t}}</td>


{%endfor%}
</tr>
<tr>
{%for t in q.tabl.data11%}


<td>{{t}}</td>


{%endfor%}
</tr>
<tr>
{%for t in q.tabl.data12%}


<td>{{t}}</td>


{%endfor%}
</tr>
<tr>
{%for t in q.tabl.data13%}


<td>{{t}}</td>


{%endfor%}
</tr>

</table>
{%endif%}
</center>
{% if q.image != "2" %}

 
  <div class="d-flex w-100 align-items-center">
  <image src="{{q.image.url }}" style="width:90%;height:400px;margin-left:2px"/>
</div>

  {%endif%}

<input type="hidden" name="csrfmiddlewaretoken" style="display:none" value="C24rUotmdHawVQJL3KrqiWxvti8UffOFYUc8TRbZtLt36AVLdP3jbkzUVe3beRAa">

<div id="cover" name="cover" class="cover" name="{{ forloop.counter }}">
<label class="form-label" style="margin-left: 10px;">Enter Your Answer Below Space</label><br>
<div class="form-check mx-4 d-flex align-items-center">
 
  <textarea class="form-control dran" rows="4" style="border: 1px solid black;margin-left: 10px;" name="{{forloop.counter}}" id="dran" value="enter your answer" placeholder="enter your answer" ></textarea>
             
</div>
{%elif q.typ == 2 %}



<div class="col-auto flex-shrink-1 ">
  <center><span  class="btn bg-info" style="width: 600px;">fill in blanck space questions</span></center>
  <h3 class="">{{ forloop.counter }}. {{q.question}}&nbsp;&nbsp;({{q.marks}} Marks)</h3>
</div>



{%if q.para%}
<center>
<div class="container-sm" style="width: 90%;margin: 40px;">
<span class="btn bg-info" style="width: 100%;">Reading Paragraph</span>
<div class="" style="">
<p>{{q.para}}</p>
</div>

</div>

</center>
{%endif%}
<center>
  {%if q.tabl %}

<span style="width:100%" class="btn btn-info">{{q.tabl.name}}</span>

<div style="overflow-y: auto;max-height: 200px;width: 90%;overflow-x: auto;max-width: 90%;" >


<table class="table table-striped">
<tr>
{%for t in q.tabl.data1%}


<th>{{t}}</th>


{%endfor%}
</tr>
<tr>
{%for t in q.tabl.data2%}


<td>{{t}}</td>


{%endfor%}
</tr>
<tr>
{%for t in q.tabl.data3%}


<td>{{t}}</td>


{%endfor%}
</tr>
<tr>
{%for t in q.tabl.data4%}


<td>{{t}}</td>


{%endfor%}
</tr>
<tr>
{%for t in q.tabl.data5%}


<td>{{t}}</td>


{%endfor%}
</tr>
<tr>
{%for t in q.tabl.data6%}


<td>{{t}}</td>


{%endfor%}
</tr>
<tr>
{%for t in q.tabl.data7%}


<td>{{t}}</td>


{%endfor%}
</tr>
<tr>
{%for t in q.tabl.data8%}


<td>{{t}}</td>


{%endfor%}
</tr>
<tr>
{%for t in q.tabl.data9%}


<td>{{t}}</td>


{%endfor%}
</tr>
<tr>
{%for t in q.tabl.data10%}


<td>{{t}}</td>


{%endfor%}
</tr>
<tr>
{%for t in q.tabl.data11%}


<td>{{t}}</td>


{%endfor%}
</tr>
<tr>
{%for t in q.tabl.data12%}


<td>{{t}}</td>


{%endfor%}
</tr>
<tr>
{%for t in q.tabl.data13%}


<td>{{t}}</td>


{%endfor%}
</tr>

</table>
{%endif%}
</div></center>
{% if q.image != "2" %}


<div class="d-flex w-100 align-items-center">
<image src="{{q.image.url }}" style="width:90%;height:400px;margin-left:2px"/>
</div>

{%endif%}

<input type="hidden" name="csrfmiddlewaretoken" style="display:none" value="C24rUotmdHawVQJL3KrqiWxvti8UffOFYUc8TRbZtLt36AVLdP3jbkzUVe3beRAa">

<div id="cover" name="cover" class="cover" name="{{ forloop.counter }}">
  <label class="form-label" style="margin-left: 10px;">Enter Your Answer Below Space</label><br>
<div class="form-check mx-4 d-flex ">
<textarea class="form-control dran" rows="4" name="{{forloop.counter}}" id="dran" value="" placeholder="enter your answer" style="border: 1px solid black;margin-left: 10px;" ></textarea>
       
</div>
{%elif q.typ == 3 %}

<div class="col-auto flex-shrink-1 ">
  <center><span  class="btn bg-info" style="width: 600px;">True/False</span></center>
  <h3 class="">{{ forloop.counter }}. {{q.question}}&nbsp;&nbsp;({{q.marks}} Marks)</h3>
</div>


</div>
{%if q.para%}
<center>
<div class="container-sm" style="width: 90%;">
<span class="btn bg-info" style="width: 100%;">Reading Paragraph</span>
<div class="" style="border: 2px outset black;overflow-x: auto;max-width: min-content;">
<p>{{q.para}}</p>
</div>

</div>

</center>
{%endif%}
<center>
  {%if q.tabl %}

<span style="width:100%" class="btn btn-info">{{q.tabl.name}}</span>

<div style="overflow-y: auto;max-height: 200px;width: 90%;overflow-x: auto;max-width: 90%;" >


<table class="table table-striped">
<tr>
{%for t in q.tabl.data1%}


<th>{{t}}</th>


{%endfor%}
</tr>
<tr>
{%for t in q.tabl.data2%}


<td>{{t}}</td>


{%endfor%}
</tr>
<tr>
{%for t in q.tabl.data3%}


<td>{{t}}</td>


{%endfor%}
</tr>
<tr>
{%for t in q.tabl.data4%}


<td>{{t}}</td>


{%endfor%}
</tr>
<tr>
{%for t in q.tabl.data5%}


<td>{{t}}</td>


{%endfor%}
</tr>
<tr>
{%for t in q.tabl.data6%}


<td>{{t}}</td>


{%endfor%}
</tr>
<tr>
{%for t in q.tabl.data7%}


<td>{{t}}</td>


{%endfor%}
</tr>
<tr>
{%for t in q.tabl.data8%}


<td>{{t}}</td>


{%endfor%}
</tr>
<tr>
{%for t in q.tabl.data9%}


<td>{{t}}</td>


{%endfor%}
</tr>
<tr>
{%for t in q.tabl.data10%}


<td>{{t}}</td>


{%endfor%}
</tr>
<tr>
{%for t in q.tabl.data11%}


<td>{{t}}</td>


{%endfor%}
</tr>
<tr>
{%for t in q.tabl.data12%}


<td>{{t}}</td>


{%endfor%}
</tr>
<tr>
{%for t in q.tabl.data13%}


<td>{{t}}</td>


{%endfor%}
</tr>

</table>
{%endif%}
</center>

{% if q.image != "2" %}


<div class="d-flex w-100 align-items-center">
<image src="{{q.image.url }}" style="width:90%;height:400px;margin-left:2px"/>
</div>

{%endif%}

<input type="hidden" name="csrfmiddlewaretoken" style="display:none" value="C24rUotmdHawVQJL3KrqiWxvti8UffOFYUc8TRbZtLt36AVLdP3jbkzUVe3beRAa">
<div style="margin-left: 10px;">
<div id="cover" name="cover" class="cover" name="{{ forloop.counter }}">
  <div class="form-check mx-4 d-flex align-items-center">
      <input class="form-check-input" type="radio" name="{{ forloop.counter }}" id="A" value="A" style="border: 2px solid black;">
      <label class="form-check-label ml-3" for="option1">
        &nbsp;&nbsp;A&nbsp;&nbsp;{{q.option1}}
      </label>
  </div>


  <div class="form-check mx-4 d-flex align-items-center">
      <input class="form-check-input" type="radio" name="{{ forloop.counter }}" id="B" value="B" style="border: 2px solid black;">
      <label class="form-check-label ml-3" for="option2">
        &nbsp;&nbsp;B&nbsp;&nbsp;{{q.option2}}
      </label>
  </div>
  <div class="form-check mx-4 d-flex align-items-center" style="display:none">
    <input class="form-check-input option3" type="radio" name="{{ forloop.counter }}" id="C" value="C" style="display:none">
  
  </div>
  
  
  <div class="form-check mx-4 d-flex align-items-center" style="display:none">
    <input class="form-check-input option4" type="radio" name="{{ forloop.counter }}" id="D" value="D" style="display:none">
  
  </div></div>
  
      {%endif%}
        </div>
     
        {% endfor %}
   </div></div><center>
      <span class="btn btn-primary" onclick="document.getElementById('id01').style.display='block'" id="dem" >Submit Answers</span>
    </div>
    </center>
     <div id="id01" class="modal">

      
      
      
      
      <div class="container" style="background-color:#f1f1f1;border-radius: 20px;width: 400px;height: 420px;">
       
     
      
      <div class="card">

        <div class="card-body" id="crb" style="display:none">
         
          <span id="tml"></span><br>
          <span id="qsl"></span>
        </div>
      </div>
      <center>
      <div id="chekr" style="">
      <div class="" style="width:100px;height: 100px;border-radius: 50%;border-left:10px solid red;border-top: 10px solid gold;border-right:10px solid rgb(225, 49, 123);border-bottom: 10px solid green;" id="anme">
 
      </div>

      <div id="chep">0%</div>
      </div>
    </center><br>
       <div style="">
        <span id="inf"></span>
        <div style="display: none;" id="bng">
        
        <span>are you sure? you want to submit</span><br>
       <span  onclick="document.getElementById('id01').style.display='none'" class="btn btn-success">Cancel</span>
       
       <button class="btn btn-primary" type="submit" onclick="move()" id="ans">Yes</button>
      </div> </div> </div>
        
      </div>
    
      </form>
      
    
    
    <div style="max-height:500px;min-height:500px;border:2px solid white;text:white" id="pro">
      <span id="title" class="text-white"></span>
      <span id="date" class="text-white"></span>
      <span id="time" class="text-white"></span>
      <br>
      
        <span class="text-white">

          <h4 class="" style="">Exam Details :</h4>
          <p class="" style="">
              </p><ul style="list-style:decimal;" style="">
                  <li style="">Course : {{course.course_name}}</li>
                  <li style="">Total Question : {{total_questions}}</li>
                  <li style="">Total Marks : {{total_marks}}</li>
              </ul>
         
          
            
          <h4 class="" style="font-size:20px">Rules :</h4>
          
            <ol type="1">
                  <li style=""> The  questions are multiple choice question,true/false,blanck,short writing)</li>
                  <li style="">Please Do exam based On exam police only</li>
                  <li style="">Every question carry different marks.</li>
                  <li style="">Try to answer asoon as possible.</li>
                  <li style="">after exam start don't try to do any thing except exam .</li>
                  <li style="">if you try to open another software you will authomatical dismissed by the system.</li>
                  <li style="">You will be able to view marks immediately once after you submit the answer.</li>
                  <li style="">If you can't able to answer it mean not saying the system don't able to show answer but your departiment instraction to software.</li>
                  <li style="">don't try to minimize the window.</li>
                  <li style="">if exam axcedental closed write message to admin.</li>
                  <li style="">if there is camera please minimize your motion remove any kinds material expcet pen and peper.</li>
 
 
 
              </ol>
            
          </div>
      </span>
      

  </div>
  <div class="col-1">
    <span class="" id="tma" style="float:right;display:none;overflow-y:hidden;transition:0.8s;backgroud:#111;z-index:1">
      <br><br>
      <div style="border:2px solid white;z-index: 13;box-shadow: 20px;padding: 5px; justify-items: center; background:red;height:50px; width:100px;border-radius: 10px;color: white;float: right;margin-top: 2%;">
  <span id="hr"></span>
  <span id="min"></span>
  <span id="sec"></span>
  </div>
 

  <br>
  <span class="text-white" style="width: 100%;">visited </span>
    <div id="myProgress" style="width: 100%;border-radius: 10px;">
      <div id="myBar">
        <div id="label">0%</div>
      </div>
    </div>
        </span>
        
        


</div>

  </div>

</div>
<script>
  
  var dem=document.querySelector('#dem');
  dem.addEventListener('click',()=>{
    var tot=sessionStorage.getItem("quest")
  var mrk=localStorage.getItem("marked")
  var lf=parseInt(tot)-parseInt(mrk)
  var tmn=localStorage.getItem("timnow")
    var chep=document.querySelector('#chep');
    var tml=document.querySelector('#tml');
    var qsl=document.querySelector('#qsl');
    qsl.innerHTML="question left="+lf;
    tml.innerHTML="time left="+tmn+"min";
    per(chep,tmn,lf);

  })
  function per(chep,tmn,lf){
    var an=0;
    setInterval(function(){
 
    if(an<100){
      an+=1;
      chep.innerHTML=an+"%"+"<br>"+"checking...";

    }else if(an>97&&an<=100){
      document.querySelector('#crb').style.display="block";
      document.querySelector('#bng').style.display="block";
      var inf=document.querySelector('#inf');
      chep.innerHTML=an+"%"+"<br>"+"checking over";
      var anme=document.querySelector('#anme')
      anme.setAttribute("id","anm")
      document.querySelector('#chep').style.display="none";
      if(lf==0 ){
      
      inf.innerHTML="it's ok you can procced";
      inf.style.color="green"
      }else if(lf!=0&&tmn>1){
        inf.innerHTML="i think you have time, why you not answer the left question";
      inf.style.color="red"

      }else{

      }
    }else if(an>=99){
      document.querySelector('#chekr').style.display="none";
    }
    },10)
   
  }
</script>
<script type="text/javascript">
  function move() {
var width = 10;
 var id = setInterval(framea, 10);
 var elema = document.getElementById("myBar1");
function framea() {

 if (width >= 100) {
   clearInterval(id);
 } else {
   width++;
   elema.style.width = width + '%';
   document.getElementById("label1").innerHTML = width * 1  + '%';

 }
}
}
</script>
<script>

// Get the modal 


var modal = document.getElementById('id01');


window.onclick = function(event) {
 if (event.target == modal) {
  modal.style.display = "none";
 }
}
</script>



<script >
 function saveAns() {
      
     
        var ele = document.getElementsByTagName('input');
        for (i = 0; i < ele.length; i++) {
            if (ele[i].type = "radio") {
                if (ele[i].checked) {
                    setCookie(ele[i].name, ele[i].value, 3)
                }
            }
        }
       get_blanck();
      
      
    }
     function setCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays * 1 * 1 * 60 * 1000));
        var expires = "expires=" + d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        var m="you are submitted your answer successfully no punishment detected";
       sessionStorage.setItem("msg",m)
    }
     function get_blanck(){
      var dran = document.getElementsByTagName('textarea');
     
      
      for (i = 0; i < dran.length; i++) {
       
        setCookie(dran[i].name, dran[i].value, 3)
       

      
        
      }
      
    }
 
  </script>
  <script>
    setInterval(get_blancka,1000);
    function get_blancka(){
      var dran = document.getElementsByTagName('textarea');
     
      
      for (i = 0; i < dran.length; i++) {
       localStorage.setItem(dran[i].name,dran[i].value)
       
       

      
        
      }
      
    }
    setInterval(function(){
        var dran = document.getElementsByTagName('textarea');
        for (i = 0; i < dran.length; i++) {
        
          var dt=document.getElementsByName(dran[i].name);
          var loc=localStorage.getItem(dran[i].name)
        
         
              dt[i].innerHTML=loc
              dt[i].setAttribute("placeholder",loc)
            
            
          
        
      
        }
      },1000)
  </script>
  <script>
 setTimeout(function(){
        var ele = document.getElementsByTagName('input');
        for (i = 0; i < ele.length; i++) {
        if(ele[i].type=="radio"){
          var dt=document.getElementsByName(ele[i].name);
          var loc=localStorage.getItem(ele[i].name)
        
          for(j=0;j<4;j++){
            if(dt[j].id==loc){
         
            
              dt[j].setAttribute("checked","")
            
            
          }
        }
      
        }}
       
       
          
      },1000)
  </script>
  <script>
  //setInterval(function(){
    var tot=sessionStorage.getItem("quest")
  var dran = document.getElementsByTagName('textarea');
  var elem = document.getElementById("myBar");
      var width=0;
     for (i = 0; i < dran.length; i++) {
      dran[i].addEventListener('change',()=>{
        width+=1;
       var mr= localStorage.getItem('marked')
       
        localStorage.setItem('marked1',width)
        var m= localStorage.getItem('marked1')? '0'+ m:m;
        var rs=parseInt(mr)+parseInt(m)
        elem.style.width = rs + '%';
        document.getElementById("label").innerHTML = rs * 1  + '/'+tot;
                    
      })
       
     
       
     }
    //},1000)
  </script>
<script>
  
  function movea() {
    var elem = document.getElementById("myBar");
  
    var width = 1;
  
    var id = setInterval(frame, 10);
  
    function frame() {
 
  
      if (width >= 100) {
       
        clearInterval(id);
      } else {
        width++;
        elem.style.width = width + '%';
        elem.innerHTML = width + '%'+" change your mind";
      }
    }
  }
  
  function show(){
  document.getElementById('id01').style.display = 'block';
  move()
  }
  
  var modal = document.getElementById
  ('id01');
  
  
  window.onclick = function(event) {
      if (event.target == modal) {
       modal.style.display = "none";
      }
  }
var win=setInterval(function(){
sessionStorage.setItem('window',window.outerWidth)
},1000);

     
setTimeout(function(){
    clearInterval(win)
    },1000);
   
    
   
    function validate(){
      var dran = document.getElementsByTagName('textarea');
     
      
      for (i = 0; i < dran.length; i++) {
       
        
        if(dran[i].value==""){
          dran[i].style.display.color="red"
          return false;
        }else{
          return true;
        }
        
      }

    }
   
   
    
    

    var tot=sessionStorage.getItem("quest")
    var ti=setInterval(function(){

      
      
      var ele = document.getElementsByTagName('input');
      
      var elem = document.getElementById("myBar");
      var width = 0;
      var dta=[]
      
        for (i = 0; i < ele.length; i++) {
        
            if (ele[i].type = "radio" ) {
                if (ele[i].checked) {
                  
                  localStorage.setItem(ele[i].name,ele[i].value)
                    dta.push(ele[i].value)
                   
                    localStorage.setItem(ele[i].name,ele[i].name)
                 
                      if (width >= 100) {
                        clearInterval(id);
                      } else {
                        width++;
                        var m= localStorage.getItem('marked1');
                        m=m=NaN? "0"+m:m;
                        var w=parseInt(m)+parseInt(width);
                        
                        elem.style.width = w + '%';
                        document.getElementById("label").innerHTML = w * 1  + '/'+tot;
                        //var m=localStorage.getItem("marked")
                        //var to=parseInt(m)+parseInt(width)
                       localStorage.setItem('marked',w)
                      }
                    
                    localStorage.setItem(ele[i].name,ele[i].value)
                    
                    
                  
                }
            }
           

          


        }
        
       
  
  
        
      
    },1000)
    
    
   
      
    function alarm(dy,tim){
    var dy=sessionStorage.getItem("dat");
    //var tim=sessionStorage.getItem("tim");
    
    var tim=localStorage.getItem("tim")
   
    var t=new Date();
    var hr=t.getHours()
     var hn=t.getHours() < 10 ? '0'+hr : hr;
    var min=t.getMinutes()
    var mn=t.getMinutes() < 10 ? '0'+min : min;
    var d=t.getDate();
    var dba=t.getDate() < 10 ? '0'+d : d;
    var y=t.getFullYear()
    var mbr=t.getMonth()+1;
    var mo=t.getMonth() < 10 ? '0'+mbr : mbr;
    var day=y+"-"+mo+"-"+dba;
    var h=hn+":"+mn;
    
    if(day==dy&&h==tim){
      var started=localStorage.getItem("started")
      var dur=sessionStorage.getItem("dur");
      if(started==null||started==""){
        
      localStorage.setItem("timnow",dur)
      localStorage.setItem("started","started")
      }
      var drt=localStorage.getItem("dret")
      sessionStorage.setItem("dure",dur);
      var t=sessionStorage.getItem('dur')
      localStorage.setItem("timnow",t)
      localStorage.setItem("endt",drt)
      document.getElementById('exam').style.display="block";
  document.getElementById('pro').style.display="none";
  var tma=document.querySelector('#tma');
      tma.setAttribute("style","display:block;");
      var t=sessionStorage.getItem('dur')
      localStorage.setItem("timnow",t)
      
      
      reftresh();
     
      localStorage.setItem("endt",drt)
     
      control()
    var t=setTimeout(function(){
      window.location.reload()
    },0)
    clearTimeout(t)
      
    
    clearInterval(dx);
   //clearInterval(dxa);
   
    }else{
      document.querySelector('#cheat').innerHTML="wait few minutes";
    }
}
function reftresh(){
  var rfs=setTimeout(function(){
//window.location.reload()
clearTimeout(rfs);
  },1000)
 //var n= setTimeout(function(){

//clearTimeout(n);
  //},1500)
}
var dx=setInterval(function(){
  var dy=sessionStorage.getItem("dat");
    
    var tim=localStorage.getItem("tim")
    console.log(tim)
      alarm(dy,tim);
     
    },1000); 
     
       

   

   function control(){

   

  
     var tmout=setInterval(function(){
        var normal =parseInt(sessionStorage.getItem("window"));
        if (window.innerWidth>=window.outerWidth&&window.innerWidth>=normal) {
            
   
    }
    else {
        document.title = "you are minimuzed your window ";
        document.querySelector('#cheat').innerHTML="you are minimuzed your window. for this reason you are lost your exam.we are sorry!"+normal+"inner"+window.innerWidth;
       document.querySelector('#exam').style.display="none";
       var m="you are minimuzed your window. for this reason you are lost your exam.we are sorry!"+normal+"inner"+window.innerWidth;
       sessionStorage.setItem("msg",m)
    showResults(questions, quizContainer, resultsContainer);
    var form = document.forms[0];
    form.submit();
  
    
    }
    },1000);
    
   
      document.addEventListener("visibilitychange", () => {
      if (document.visibilityState === 'visible') {
      document.title = "you are live state now";
       document.querySelector('#cheat').innerHTML="you are live state now";
      } else {
       document.title = "you are try to cheat exam we are sorry";
        document.querySelector('#cheat').innerHTML="you are try to open new tab. for this reason you are lost your exam.we are sorry!";
      
      document.querySelector('#exam').style.display="none";
      //var m="you are try to open new tab. for this reason you are lost your exam.we are sorry!";
       //sessionStorage.setItem("msg",m)
      var form = document.forms[0];
    form.submit();
     
      }
    });
    
      window.addEventListener("blur", () => {
        document.title = "you are try to cheat exam we are sorry";
        document.querySelector('#cheat').innerHTML="you are try to open other software. for this reason you are lost your exam.we are sorry!";
      document.querySelector('#exam').style.display="none";
      var m="you are try to open other software. for this reason you are lost your exam.we are sorry!";
       sessionStorage.setItem("msg",m)
    var form = document.forms[0];
      form.submit();
      
        
    
    });
  }
var b= setInterval(function(){
  var dt=sessionStorage.getItem("ex");
  var start=sessionStorage.getItem("start");
  var dur=sessionStorage.getItem("dur");
  var started=localStorage.getItem("started")
  console.log(dt)
  
   
  if(dt==1){
   
  document.getElementById('exam').style.display="block";
  document.getElementById('pro').style.display="none";
  var tma=document.querySelector('#tma');
      tma.setAttribute("style","display:block;");
      var t=sessionStorage.getItem('dur')
      if(started==null||started==""){
       
      localStorage.setItem("timnow",t)
      localStorage.setItem("started","started")
      }
      control()
      reftresh()
      var drt=localStorage.getItem("dret")
      
      localStorage.setItem("endt",drt)
      var t=setTimeout(function(){
      window.location.reload()
    },100)
    clearTimeout(t)
      
  }else if(dt==2){
    document.getElementById('exam').style.display="none";
  document.getElementById('pro').style.display="block";
  var tma=document.querySelector('#tma');
      tma.setAttribute("style","display:none;");
      sessionStorage.setItem("dure",dur);
      var drt=localStorage.getItem("dret")
      
      localStorage.setItem("endt",drt)
  }else if(dt==0){
    document.getElementById('exam').style.display="none";
  document.getElementById('pro').style.display="block";
  var tma=document.querySelector('#tma');
      tma.setAttribute("style","display:none;");
      sessionStorage.setItem("dure",dur);
      var drt=localStorage.getItem("dret")
      
      localStorage.setItem("endt",drt)
  }

  /*if(start==1){
    document.getElementById('exam').style.display="block";
  document.getElementById('pro').style.display="none";
  var tma=document.querySelector('#tma');
      tma.setAttribute("style","display:block;");
      sessionStorage.setItem("dure",dur);
      control()
 
  }*/
  if(started=="started"){
    document.getElementById('exam').style.display="block";
    document.getElementById('pro').style.display="none";
    var tma=document.querySelector('#tma');
        tma.setAttribute("style","display:block;");
        sessionStorage.setItem("dure",dur);
        control()
        reftresh()
  }
  
},10)

    $(document).ready(function () {


 
        var dxas= setInterval(function () {
         var postData = {csrfmiddlewaretoken: '{{ csrf_token }}' }
         var tim=localStorage.getItem("timnow");
       
             $.ajax({
                 url: "",
                 type: "GET",
                 dataType: 'json',
                 data: {
                  tim:tim,
 
                 },
                 success: function (response) {
                     localStorage.setItem("tim",response.tim)
                     sessionStorage.setItem("dat",response.dat)
                     sessionStorage.setItem("tim",response.tim)
                     sessionStorage.setItem("dur",response.dur)
                     localStorage.setItem("dret",response.dur)
                     sessionStorage.setItem("quest",response.total)
                     sessionStorage.setItem("start",response.start)
                    // document.querySelector('#messege').innerHTML="message="+response.msg;
                     
                     
                     
                     
                     
                 }
 
             });
             }, 1000);
       
     })

     



     $(document).ready(function () {
     var materiala= setInterval(function () {
      var postData = {csrfmiddlewaretoken: '{{ csrf_token }}' }
          $.ajax({
              url: "",
              type: "POST",
              dataType: 'json',
              data: {

              },
              success: function (response) {
                  
                 
                  sessionStorage.setItem("ex",response.ex)
                  document.querySelector('#mot').innerHTML="motion="+response.motion;
                  console.log(response.motion)
                 document.querySelector('#tyme').innerHTML= "NO attempts="+response.tyme;
                 document.querySelector('#mat').innerHTML = "material="+response.material;
                if(parseInt(response.tyme)==1){
                 document.querySelector('#what').innerHTML="please follow our exam guidline, you aretry to cheat exam one time don't do agian"
                }else if(parseInt(response.tyme)==2){
                  document.querySelector('#what').innerHTML="please follow our exam guidline we are tell you agian, you are try to cheat exam second time don't do agian if you try once you are going to ban from exam"
              

                }else if(parseInt(response.tyme)==3){
                  document.querySelector('#what').innerHTML="we are soorry we take action on you becouse you are cheat our exam three times "
                 
                  document.getElementById('exam').style.display="none";
                  document.getElementById('pro').style.display="block";
                  var tma=document.querySelector('#tma');
                      tma.setAttribute("style","display:none;");
                      var form = document.forms[0];
                      form.submit();

                }


                 
              }

          });
          }, 1000);
     // })
  })

    

  
    
    

  //var jk=sessionStorage.getItem("dure")
 

    var jk=localStorage.getItem("timnow")
    var t=jk!=null ? parseInt(jk)*60000:3400000;
  
  
    
    
    setTimeout(function(){
      document.getElementById('exam').style.display="block";
      document.getElementById('pro').style.display="none";
      
      
      localStorage.clear()
      sessionStorage.clear()
      var form = document.forms[0];
      form.submit();
     
    
    },t)
    var g=setInterval(function(){
     
    var ghb=parseInt(t/3600000);
    
     localStorage.setItem('gh',ghb);
    
      },100);
     
     
      var mex=setInterval(function(){
     var gmn=parseInt((t%3600000)/60000);
     //console.log(gmn)
     localStorage.setItem("gm",gmn);
    
     },100)
     var gm;
     var gh;
    var mn_c= setInterval(function(){
    var gma=localStorage.getItem("gm");
    var gha=localStorage.getItem('gh');
    gm=gma
    gh=gha
    },100)
     
   
     
     
      var sec=setInterval(function(){
    
     var dt=new Date();
     var sec=dt.getSeconds();
     var hr=dt.getHours()
     
     
    document.querySelector('#sec').innerHTML=":"+sec;
         
      },1000);
      
    var min= setInterval(function() {
      clearInterval(mn_c);
      clearInterval(g)
      var gm=localStorage.getItem("gm");
      var gh=localStorage.getItem('gh');
        
        gm-= 1;
        document.querySelector('#min').innerHTML = ":"+gm;
      clearInterval(m)
      clearInterval(mex)
      clearInterval(h)
    localStorage.setItem('gm',gm);
    
    jk-=1
    localStorage.setItem("timnow",jk)
    document.querySelector('#hr').innerHTML = gh;
   
    if(gh==0&&gm==0){
      clearInterval(min);
    }
      if(gh>=0&&gm==0){
        gh-=1
        console.log(gh)
        localStorage.setItem("gh",gh);
        
      
      
      localStorage.setItem("gm",59);
      
      document.querySelector('#hr').innerHTML =  gh;
    
      }
      }, 60000);
   
      var m=setInterval(function(){
    document.querySelector('#min').innerHTML =":" +gm;
      
       
      },100)
    var h = setInterval(function() {
      
       
    
    
        document.querySelector('#hr').innerHTML = gh;
      
      },100);
  
  

   

</script>

</body>
