{% extends 'exam/adminbase.html' %}

{% load widget_tweaks %}
{%load static%}
{% block content %}
<html>
    <style>
        ul .li{
            padding-left: 20px;
            font-size: 30px;
            color: white;
        
          }
          
    </style>
    <link rel="stylesheet" href="{%static 'bicon/font/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{%static 'bicon/font/bootstrap-icons.min.css' %}">
  
  
  
    <link rel="stylesheet" href="{%static 'font/css/all.min.css'%}">
    <link rel="stylesheet" href="{%static 'font/css/fontawesome.min.css'%}">
  <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
  
  
  <script type="text/javascript" src="{%static 'js/proper.js' %}"></script>
  <script type="text/javascript" src="{%static 'js/jq.js' %}"></script>
  
  
  
  <link rel="stylesheet" href="{%static 'css/color.css'%}"> 
    <body>
       
          
          
      <center>
        <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">add parragraph here </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
           
             <div style="padding:20px">
        <form  action="{%url 'exam:paragraph'%}"  name="my-form1" method="post" enctype="multipart/form-data" >
      {%csrf_token%}
      <input type="hidden" name="id" id="idb" value="{{username}}">
              
      <input type="hidden" name="course" id="idb" value="{{course}}">
      <input type="hidden" name="mark" id="mark" class="form-control" value="1" placeholder="example:2">
             
      
      <label class="form-label">Write your parragraph bellow</label>
              <textarea class="form-control" rows="4" id="question"  name="question" placeholder="example:where is jinka university"></textarea>
             
        
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" id="sub" >Save </button>
        </div>
      </form>
      </div>
      </div>
      </div></center>
          
              
              
          <center>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">question form </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
               
                 <div style="padding:20px">
            <form  action=""  name="my-form1" method="post" enctype="multipart/form-data" >
          {%csrf_token%}
                
          
          
            
              <input type="hidden" name="id" id="idb" value="{{username}}">
              
              <input type="hidden" name="course" id="idb" value="{{course}}">
              <label class="form-label">question weight</label>
              <input type="text" name="mark" id="mark" class="form-control" placeholder="example:2">
             
                
              <label class="form-label">write your question bellow</label>
              <textarea class="form-control" rows="4" id="question"  name="question" placeholder="example:where is jinka university"></textarea>
             
              <label class="form-label">enter choose A</label>
              <input type="text" name="option1" id="option1" class="form-control" placeholder="ethiopia">
                     <label class="form-label">enter choose B</label>
              <input type="text" name="option2" id="option2" class="form-control" placeholder="kenya">
              <label class="form-label">enter choose c</label>
              <input type="text" name="option3" id="option3" class="form-control" placeholder="sudan">
              <label class="form-label">enter choose d</label>
              <input type="text" name="option4" id="option4" class="form-control" placeholder="england">
              <label class="form-label">select answer</label>
              <select name="answer" class="form-control">
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
              </select>
              
          
      
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" id="sub" style="">Save </button>
            </div>
          </form>
          </div>
          </div>
          </div></center>
          <center>
            <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel"> create True/False questions</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
               
                 <div style="padding:20px">
            <form  action="{%url 'exam:true_false_question'%}"  name="my-form1" method="post" enctype="multipart/form-data" >
          {%csrf_token%}
                
          
          
            
              <input type="hidden" name="id" id="idb" value="{{username}}">
              
              <input type="hidden" name="course" id="idb" value="{{course}}">
              <label class="form-label">question weight</label>
              <input type="text" name="mark" id="mark" class="form-control" placeholder="example:2">
             
                
              <label class="form-label">write your question bellow</label>
              <textarea class="form-control" rows="4" id="question"  name="question" placeholder="example:where is jinka university"></textarea>
             
             
              <label class="form-label">select answer</label>
              <select name="answer" class="form-control">
                <option value="A">True</option>
                <option value="B">false</option>
                
              </select>
              
          
      
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" id="sub" style="">Save </button>
            </div>
          </form>
          </div>
          </div>
          </div></center>
       
          <div class="modal fade" id="exampleModala" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">short answer question form </h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
             
               <div style="padding:20px">
          <form  action="{%url 'exam:short_question'%}"  name="my-form1" method="post" enctype="multipart/form-data" >
        {%csrf_token%}
              
        
        
          
            <input type="hidden" name="id" id="idb" value="{{username}}">
            
            <input type="hidden" name="course" id="idb" value="{{course}}">
            <label class="form-label">question weight</label>
            <input type="text" name="mark" id="mark" class="form-control" placeholder="example:2">
           
              
            <label class="form-label">Type your Question</label>
           
            <textarea class="form-control" rows="4" id="question"  name="question" placeholder="example:where is jinka university"></textarea>
           
            <label class="form-label">answer</label>
            <input type="text" name="answer" class="form-control" value=" " placeholder=""/>
           
            <label class="form-label">explanation</label>
            <textarea class="form-control" rows="4" id="question"  name="exp" placeholder="example:jku located at south om ethiopia......."></textarea>
           
            
        
    
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary"  style="">Save </button>
          </div>
        </form>
        </div>
        </div>
        </div></center></div>
          
          <div class="container-fluid" style="width:95%; min-height: 90%;" id="qz">
            {% if messages %}
            {% for message in messages %}
        <div class="container-fluid p-0">
          <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="True">&times;</span>
            </button>
            {{ message }}
          </div>
        </div>
        {% endfor %}
                {%endif%}
            <span id="types"></span>
           
            <div id="exam" style="border:10px solid black">
             
 
           
              <form class="form" autocomplete="off" onsubmit="return saveAns()" action="/student/calculate-marks" method="POST" style="font-size:20px">
                 
                  {% csrf_token %}
                  <span style="text-align: center;color:white">Course: {{course_name}}</span>
                  <div class="jumbotron1 table table-responsive " style="min-height:700px;max-height:700px;border:10px inset black">
                  {% for q in questions%}
                  <div class="d-flex w-100 align-items-center">
                    {%if q.typ == 0 %}
                      <div class="col-auto flex-shrink-1 ">
                        <h1 style="text-decoration:underline">{{forloop.counter}} Multple choose Qustion </h1>
                          <h3 class="">{{ forloop.counter }}. {{q.question}}</h3>
                      </div>
                      <div class="col-auto">
                          <h4 style="text-align: right;">[{{q.marks}} Marks]</h4>
                      </div>
                      <div class="col-auto">
                        <a href="{%url 'teacher:qedit' q.id %}" style="text-align: right;" class="text-success bi bi-pencil-square"></a>
                    </div>
                    <div class="col-auto">
                      <a href="{%url 'teacher:qtdelete' q.id %}"  onclick="confirm('are you sure to delete this')" style="text-align: right;" class="text-danger bi bi-clipboard-x-fill" ></a>
                  </div>
                     
                  </div>
                  {% if q.image != "2" %}
                  
                   
                    <div class="d-flex w-100 align-items-center">
                    <image src="{{q.image.url }}" style="width:400px;height:400px;margin-left:2px"/>
                  </div>
          
                    {%endif%}
                 
                  <input type="hidden" name="csrfmiddlewaretoken" style="display:none" value="C24rUotmdHawVQJL3KrqiWxvti8UffOFYUc8TRbZtLt36AVLdP3jbkzUVe3beRAa">
          
                 <div id="cover" name="cover" class="cover" name="{{ forloop.counter }}">
                  <div class="form-check mx-4 d-flex align-items-center">
                      <input class="form-check-input" type="radio" name="{{ forloop.counter }}" id="A" value="A">
                      <label class="form-check-label ml-3" for="option1">
                        A {{q.option1}}
                      </label>
                  </div>
          
          
                  <div class="form-check mx-4 d-flex align-items-center">
                      <input class="form-check-input" type="radio" name="{{ forloop.counter }}" id="B" value="B">
                      <label class="form-check-label ml-3" for="option2">
                        B {{q.option2}}
                      </label>
                  </div>
          
          
                  <div class="form-check mx-4 d-flex align-items-center">
                      <input class="form-check-input" type="radio" name="{{ forloop.counter }}" id="C" value="C">
                      <label class="form-check-label ml-3" for="option3">
                        C {{q.option3}}
                      </label>
                  </div>
          
          
                  <div class="form-check mx-4 d-flex align-items-center">
                      <input class="form-check-input" type="radio" name="{{ forloop.counter }}" id="D" value="D">
                      <label class="form-check-label ml-3" for="option4">
                        D {{q.option4}}
                      </label>
                  </div>
          
                {%elif q.typ == 1 %}
                <div class="col-auto flex-shrink-1 ">
                  <h1 style="text-decoration:underline">ii Writing questions</h1>
                  <h3 class="">{{ forloop.counter }}. {{q.question}}</h3>
              </div>
              <div class="col-auto">
                  <h4 style="text-align: right;">[{{q.marks}} Marks]</h4>
              </div>
              <div class="col-auto">
                <a href="{%url 'teacher:qedit' q.id %}" style="text-align: right;" class="text-success bi bi-pencil-square"></a>
            </div>
            <div class="col-auto">
              <a href="{%url 'teacher:qtdelete' q.id %}" style="text-align: right;" class="text-danger bi bi-clipboard-x-fill" ></a>
          </div>
             
          </div>
          {% if q.image != "2" %}
          
           
            <div class="d-flex w-100 align-items-center">
            <image src="{{q.image.url }}" style="width:400px;height:400px;margin-left:2px"/>
          </div>
          
            {%endif%}
          
          <input type="hidden" name="csrfmiddlewaretoken" style="display:none" value="C24rUotmdHawVQJL3KrqiWxvti8UffOFYUc8TRbZtLt36AVLdP3jbkzUVe3beRAa">
          
          <div id="cover" name="cover" class="cover" name="{{ forloop.counter }}">
          <div class="form-check mx-4 d-flex align-items-center">
            <textarea class="form-control dran" rows="4" name="{{forloop.counter}}" id="dran" value="" placeholder="eneter your answer"></textarea>
                       
          </div>
          {%elif q.typ == 2 %}
                <div class="col-auto flex-shrink-1 ">
                  <h1 style="text-decoration:underline">ii fill in blanck space questions</h1>
                  <h3 class="">{{ forloop.counter }}. {{q.question}}</h3>
              </div>
              <div class="col-auto">
                  <h4 style="text-align: right;">[{{q.marks}} Marks]</h4>
              </div>
              <div class="col-auto">
                <a href="{%url 'teacher:qedit' q.id %}" style="text-align: right;" class="text-success bi bi-pencil-square"></a>
            </div>
            <div class="col-auto">
              <a href="{%url 'teacher:qtdelete' q.id %}" style="text-align: right;" class="text-danger bi bi-clipboard-x-fill" ></a>
          </div>
             
          </div>
          {% if q.image != "2" %}
          
           
            <div class="d-flex w-100 align-items-center">
            <image src="{{q.image.url }}" style="width:400px;height:400px;margin-left:2px"/>
          </div>
          
            {%endif%}
          
          <input type="hidden" name="csrfmiddlewaretoken" style="display:none" value="C24rUotmdHawVQJL3KrqiWxvti8UffOFYUc8TRbZtLt36AVLdP3jbkzUVe3beRAa">
          
          <div id="cover" name="cover" class="cover" name="{{ forloop.counter }}">
          <div class="form-check mx-4 d-flex align-items-center">
            <textarea class="form-control dran" rows="4" name="{{forloop.counter}}" id="dran" value="" placeholder="enter your answer shor and pricess answer"></textarea>
                       
          </div>
          {%elif q.typ == 3 %}
          <div class="col-auto flex-shrink-1 ">
            <h1 style="text-decoration:underline">ii True/False</h1>
            <h3 class="">{{ forloop.counter }}. {{q.question}}</h3>
        </div>
        <div class="col-auto">
            <h4 style="text-align: right;">[{{q.marks}} Marks]</h4>
        </div>
        <div class="col-auto">
          <a href="{%url 'teacher:qedit' q.id %}" style="text-align: right;" class="text-success bi bi-pencil-square"></a>
      </div>
      <div class="col-auto">
        <a href="{%url 'teacher:qtdelete' q.id %}" style="text-align: right;" class="text-danger bi bi-clipboard-x-fill" ></a>
    </div>
       
    </div>
    {% if q.image != "2" %}
    
     
      <div class="d-flex w-100 align-items-center">
      <image src="{{q.image.url }}" style="width:400px;height:400px;margin-left:2px"/>
    </div>
    
      {%endif%}
    
    <input type="hidden" name="csrfmiddlewaretoken" style="display:none" value="C24rUotmdHawVQJL3KrqiWxvti8UffOFYUc8TRbZtLt36AVLdP3jbkzUVe3beRAa">
    
    <div id="cover" name="cover" class="cover" name="{{ forloop.counter }}">
      <div class="form-check mx-4 d-flex align-items-center">
          <input class="form-check-input" type="radio" name="{{ forloop.counter }}" id="A" value="A">
          <label class="form-check-label ml-3" for="option1">
            A {{q.option1}}
          </label>
      </div>


      <div class="form-check mx-4 d-flex align-items-center">
          <input class="form-check-input" type="radio" name="{{ forloop.counter }}" id="B" value="B">
          <label class="form-check-label ml-3" for="option2">
            B {{q.option2}}
          </label>
      </div>
              
                {%elif q.typ == 4 %}
          <div class="col-auto flex-shrink-1 ">
            <h1 style="text-decoration:underline">READING parragraph</h1>
            <h3 class="">. {{q.question}}</h3>
        </div>
        <div class="col-auto">
           
        </div>
        <div class="col-auto">
          <a href="{%url 'teacher:qedit' q.id %}" style="text-align: right;" class="text-success bi bi-pencil-square"></a>
      </div>
      <div class="col-auto">
        <a href="{%url 'teacher:qtdelete' q.id %}" style="text-align: right;" class="text-danger bi bi-clipboard-x-fill" ></a>
    </div>
       
    </div>
    {% if q.image != "2" %}
    
     
      <div class="d-flex w-100 align-items-center">
      <image src="{{q.image.url }}" style="width:400px;height:400px;margin-left:2px"/>
    </div>
    
      {%endif%}
    
    <input type="hidden" name="csrfmiddlewaretoken" style="display:none" value="C24rUotmdHawVQJL3KrqiWxvti8UffOFYUc8TRbZtLt36AVLdP3jbkzUVe3beRAa">
    
    
                {%endif%}
                  
                </div>
                  {% endfor %}
              </div>
              
                  
              
                </form></div>
          </div>
           </b><span id="results" style="display:none"></span>
          
          
          <button  style="float: right;margin-right: 20px;" class="btn btn-danger" onclick="rest()">clear</button>
              </div>
            </div>
            <!--=========================================student list========================-->
            <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">question form </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
               
                 <div style="padding:20px">
            <form  action="{%url 'exam:blanck_question'%}"  name="my-form1" method="post" enctype="multipart/form-data" >
          {%csrf_token%}
                
          
          
            
              <input type="hidden" name="id" id="idb" value="{{username}}">
              
              <input type="hidden" name="course" id="idb" value="{{course}}">
              <label class="form-label">question weight</label>
              <input type="text" name="mark" id="mark" class="form-control" placeholder="example:2">
             
                
              <label class="form-label">write your question bellow</label>
              <textarea class="form-control" rows="4" id="question"  name="question" placeholder="example:where is jinka university"></textarea>
             
              <label class="form-label">write key word that separated by coma</label>
              <textarea class="form-control" rows="4" id="question"  name="answer" placeholder="example:where is jinka university"></textarea>
              <label class="form-label">explanation</label>
            <textarea class="form-control" rows="4" id="question"  name="exp" placeholder="example:jku located at south om ethiopia......."></textarea>
           
              
          
      
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary"  style="">Save </button>
            </div>
          </form>
          </div>
          </div>
          </div></center>
          <!--======================================set time===================-->
          
         
          <!--=====================================report page=================-->
        
          
          </div>
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
          <script>

            var typ=document.getElementById('types');
          var ch=document.getElementById('ch');
          ch.addEventListener("change",()=>{
            var bl=document.getElementById('bl');
            var sh=document.getElementById('sh');
            var chos=document.getElementById('chos');
            var tf=document.getElementById('tf');
            var para=document.getElementById('para');
            var name=ch.value;
           if(name=="blanck"){
           typ.innerHTML="Now on  writhing paragraph mode";
            bl.style.display="block"
            chos.style.display="none"
            sh.style.display="none"
            tf.style.display="none"
            para.style.display="none"
           }else if(name=="short"){
            typ.innerHTML="Now on fill blanck mode";
            bl.style.display="none"
            chos.style.display="none"
            sh.style.display="block"
            para.style.display="none"
            tf.style.display="none"
           }else if(name=="TF"){
            typ.innerHTML="Now on True O r False mode";
            bl.style.display="none"
            chos.style.display="none"
            sh.style.display="none"
            tf.style.display="block"
            para.style.display="none"
            
           }else if(name=="para"){
            typ.innerHTML="Now on parragraph mode";
            bl.style.display="none"
            chos.style.display="none"
            sh.style.display="none"
            tf.style.display="none"
            para.style.display="block"
            
           }
           
           
           else{
            typ.innerHTML="Now on  multiple choose mode";
            bl.style.display="none"
            chos.style.display="block"
            sh.style.display="none"
            tf.style.display="none"
            para.style.display="none"
           }
          })
          </script>
          <script type="text/javascript">
          


           var question=document.getElementById('question');
           var mark=document.getElementById('mark');
           var option1=document.getElementById('option1');
           var option2=document.getElementById('option2');
           var option3=document.getElementById('option3');
           var option4=document.getElementById('option4');
           var sub=document.getElementById('sub');

           question.addEventListener('keyup',()=>{
             if(question.value!="" ){
              question.setAttribute("class","form-control is-valid")
             }else{
              question.setAttribute("class","form-control is-invalid")
             }
           })
           option1.addEventListener('keyup',()=>{
            if(option1.value!="" ){
             option1.setAttribute("class","form-control is-valid")
            }else{
              option1.setAttribute("class","form-control is-invalid")
            }
          })
          option2.addEventListener('keyup',()=>{
            if(option2.value!="" ){
              option2.setAttribute("class","form-control is-valid")
            }else{
              option2.setAttribute("class","form-control is-invalid")
            }
          })
          option3.addEventListener('keyup',()=>{
            if(option3.value!="" ){
             option3.setAttribute("class","form-control is-valid")
            }else{
              option3.setAttribute("class","form-control is-invalid")
            }
          })
          option4.addEventListener('keyup',()=>{
            if(option4.value!="" ){
             option4.setAttribute("class","form-control is-valid")
            }else{
              option4.setAttribute("class","form-control is-invalid")
            }
          })
          mark.addEventListener('keyup',()=>{
            mn=mark.value;
            if(mark.value!="" && mn.match(/^[0-9]*$/) ){
             mark.setAttribute("class","form-control is-valid")
             sub.style.display="block"
            }else{
              mark.setAttribute("class","form-control is-invalid")
              sub.style.display="none"
              
            }
          })
          
         /*var quest=document.querySelector('#question');
         var name=question.value;
          var onkeydown = (function (ev) {
            var key;
            var isShift;
            if (window.event) {
              key = window.event.keyCode;
              isShift = !!window.event.shiftKey; // typecast to boolean
              console.log(key)
              if(isShift==true&&key==83){
                var x = document.createElement("SUP");
                var tax=prompt("enter superscript")
                var t = document.createTextNode(tax);
                x.appendChild(t);
                quest.appendChild(x);
              }
            } else {
              key = ev.which;
              isShift = !!ev.shiftKey;
              //console.log(isShift)
            }
            if ( isShift ) {
              switch (key) {
                case 16: // ignore shift key
                  break;
                default:
                  console.log(key)
                  break;
              }
            }
          });*/
        </script>
    </body>
</html>
{%endblock content %}