{% extends 'exam/adminbase.html' %}
{% block content %}
{%load static%}

<head>
  <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
  <script type="text/javascript" src="{%static 'jsb/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{%static 'js/proper.js' %}"></script>
  <link rel="stylesheet" href="{%static 'bicon/font/bootstrap-icons.css' %}">
  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>
</head>
<br><br>
<div class="container">
  <div class="panel panel-primary rounded-0">
    <div class="panel-heading rounded-0">
      <h6 class="panel-title">View Marks</h6>
    </div>
    <table class="table table-hover table-bordered" id="dev-table">
      <thead>
        <tr>

          <th>Course</th>
          
          <th>Total Marks</th>
          <th>Number of Attempt</th>
          <th>Exam Date</th>
        </tr>
      </thead>
      {% for t in results %}
      <tr>

        <td> {{t.exam}}</td>
        <td> {{t.marks}}</td>
        <td>Attempt {{ forloop.counter }}</td>
        <td> {{t.date}}</td>
        
        
      </tr>
      {% endfor %}
    </table>
  </div>
</div>

<br><br><br><br><br><br>
{% endblock content %}