<!DOCTYPE html>
{%load widget_tweaks%}
{%load static%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
       
        
       
        
        
        
        .box input[type="text"]:focus,
        .box input[type="password"]:focus {
           border:3px solid cyan;
           
        }
       
       

    </style>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    
  

  <link rel="stylesheet" href="{%static 'font/css/all.min.css'%}">
  <link rel="stylesheet" href="{%static 'font/css/fontawesome.min.css'%}">
<link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
<link rel="stylesheet" href="{%static 'css/font.css'%}">
<script type="text/javascript" src="{%static 'jsb/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{%static 'js/proper.js' %}"></script>
<script type="text/javascript" src="{%static 'js/jq.js' %}"></script>
<link rel="stylesheet" href="{%static 'css/ex.css'%}"> 
<link rel="stylesheet" href="{%static 'css/style.css'%}"> 
<script type="text/javascript" src="{%static 'js/jqn.js' %}"></script>
<link rel="stylesheet" href="{%static 'css/color.css'%}"> 
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
    <link rel="stylesheet" href="{%static 'bicon/font/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
    <script type="text/javascript" src="{%static 'jsb/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{%static 'js/proper.js' %}"></script>
    <link rel="stylesheet" href="{%static 'bicon/font/bootstrap-icons.css' %}">
    <script type="text/javascript" src="{%static 'js/drop.js' %}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  <body>
    {% include "exam/navbar.html" %}
    <br><br><br>
    <div class="container-fluid">
        <img src="{%static 'image/jku.png'%}" class="profile_image" alt="img" style="width:100px;height:100px">
        <hr>
        <div class="row">
     <div style="col-6 margin-left:100px;width:50%">
       
                <form class="box" method="post">
                    {% csrf_token %}
                    {{form.error}}
                    <div class="row">
                    <div class="col-3">
                       
                    <h1 class="fa fa-user" style="width:100px;height:100px;font-size:140px" ></h1>
                    </div>
                    <div class="col-9" >
                      <label class="form-label">username</label>
                      {% render_field form.username class="form-control rounded-0" autocomplete="off" placeholder="Enter your username" %}
                      <label class="form-label">password</label>
                      {% render_field form.password class="form-control rounded-0" autocomplete="off" placeholder="Enter your Password" %}
                       <br><br>

                     <input type="submit" class="btn btn-primary btn-lg rounded" name="" value="Login">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                     <a href="{%url 'exam:psforgot'%}" class="" style="padding-right: 35px; border-radius: 0%;"><i class="fa fa-key" aria-hidden="true"></i> forgot password</a>
                    </div> </div>
                </form>
            </div>
            <div class="col-6" >
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">about us</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Profile</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Contact</button>
                </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                  Mission and Vision
                  Mission and Vision
                  Mission: Contribute to knowledge expansion and national development by providing quality and relevant education and training; undertaking basic and applied researches; and engaging in community services.
                  
                  Vision: Become one the top 15 public higher education institutions in Ethiopia by 2027.
                  
                  Values: Excellence, quality, relevance, academic freedom, cooperation, tolerance, determination, loyalty, participatory, transparency and accountability, fairness and equality, social responsibility, corruption free, factual and reasonable, job creation, exemplary, and internationalization.
                  
                  Objectives: To produce internationally competent and nationally relevant graduates; to equip students with the right knowledge, skills, attitudes and ethics; to undertake relevant studies with the intention to transfer knowledge and technology; to provide community services; to ensure academic freedom and accountability; to ensure justice, fairness and the rule of law; and to promote democratic culture and maintain diversity.
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    profile</div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                   <ul>
                    <li>name egalcho</li>
                    <li>email: egalcho1@gmail.com</li>
                    <li>phone :0963999539</li>
                   </ul> 
                
                
                
                </div>
              </div>
        </div>
    </div>
</div>


  </body>
</html>
