{%load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <style>
    

  </style>
  <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
  <body>
    {% include "exam/navbar.html" %}
    <br><br><br><br><br>
<!-- <img src="{% static "image/logout_img.png" %}"  style="width:800px; height:100px; padding-left:400px;"> -->

<h2 class="text-center ">Logged Out Successfully. <br> Thank you for using our system!</h2>
<center><a href="{%url 'student:studentlogin'%}" class="btn">login</a></center>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br>


  </body>
</html>
