{% extends 'student/studentbase.html' %}
{% block content %}
{%load static%}

<head>
 
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
  <style media="screen">
   
  </style>
  <script type="text/javascript" src="{%static 'jsb/bootstrap.min.js' %}"></script>
</head>
<body onload="local()">
  
<div class="container-sm">
  <div class="card"  style="width: 90%;border: 3px solid brown;">
    <div class="card-header bg-info">
<button class="btn btn-info" style="width: 100%;">Welcome to Smart Onlinexam Platform </button>
    </div>
    <div class="card-body">
<button class="btn btn-success">your student asissment result is bellow</button>
<button class="btn btn-success" style="float: right;">your student asissment result is bellow</button>
<table class="table table-striped" style="width: 80%;">
<th>No</th>

<th>student</th>
<th>exam</th>
<th>mark</th>
<th>Percentage</th>
{%for t in stud%}
<tr>
    <td>{{forloop.counter}}</td>
    <td>{{t.student}}</td>
    <td>{{t.test}}</td>
    <td>{{t.m}}/{{t.total}}</td>
    <td>{{t.mark}}%</td></tr>
{%endfor%}</table>

</div>
  </div>
  </div>
<script>
  

var n=setInterval(function(){
  localStorage.clear()
  console.log("removed")
},100)
setTimeout(function(){
  clearInterval(n)
},200)
$(document).ready(function(){
  $('#y').change(function(){
    var na=$('#y').val()
    $.ajax({
      url:"",
      method:"POST",
      data:{
        sem:na,
      },
      success:function(response){
       var name=response.name;
       var id=response.id;
       console.log(name[0])
       console.log(id[0])
       var course=$('#course');
       for(i=0;i<name.length;i++){
course.append('<option value="'+id[i]+'">'+name[i]+'</option>');
       }
       $('#course').change(function(){
       var id=$('#course').val()
       window.open("../student/check-marks/"+id,"_self")
      
       })
      }
    })
  })
})
  
</script>

</body>
{% endblock content %}