{% extends 'teacher/teacherbase.html' %}
{% load widget_tweaks %}
{%load static%}
{% block content %}

<head>
  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>
  
</style>
</head>
<div class="container-sm"><div class="card"><div class="card-body">
<div class="container">
  {% if messages %}
    {% for message in messages %}
<div class="container-fluid p-0">
  <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="True">&times;</span>
    </button>
    {{ message }}
  </div>
</div>
{% endfor %}
        {%endif%}
 
    <span data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success" style="float:right">update</span>
  <div class="panel panel-primary rounded-0">
    <div class="panel-heading rounded-0">
      <h6 class="panel-title">Students</h6>
    </div>
   
    <table class="table table-hover table-bordered" id="dev-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>start date</th>
          <th>start time</th>
          <th>duration</th>
         
         
        </tr>
      </thead>
      {% for t in ex %}
      <tr>
        <td> {{forloop.counter}}</td>
        <td> {{t.exam}}</td>
        <td>{{t.dat}}</td>
        <td>{{t.tim}}</td>
        <td>{{t.dur}}</td>
         </tr>
      {% endfor %}
    </table>
  </div>
</div>


<center>
 
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">update the schedule</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
       
        <form  action=""  name="my-form1" method="post" >
               
    {%csrf_token%}
          
    
    <div class="modal-body">
     
    
    
      
                 
              
                <label class="form-label ">set time for this course</label>
                <input type="time" id="time" name="time" class="form-control">
                <label class="form-label">set date for this course</label>
              <input type="date" id="date" name="date" class="form-control">
              <label class="form-label ">duration in minute ,eg if two hour 120 </label>
              <input type="number" id="dr" name="dr" class="form-control" placeholder="example:120 for 2 hour">
              
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save</button>
           
            </div> </form>
          </div>
        </div>
      </div></center>
{% endblock content %}